.card {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.44);
    margin-bottom: 1rem;
  }
  
  .card header {
    position: relative;
    min-height: 30vh;
    padding: 0;
    background-color: rgba(38, 38, 38, 0.64);
  }
  
  .card header .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .card header img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 30vh;
  }
  
  .card .main {
    padding: 0.25rem 0.5rem;
  }
  
  .card main h1 {
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .card main p {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #6D6D6D;
  }
  
  /**
    * Persist animation using : animation-fill-mode set to forward 
    * @see https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode
    */
  .fade {
    -webkit-animation: fadeout 2s forwards; /* Safari and Chrome */
    -moz-animation: fadeout 2s forwards; /* Firefox */
    -ms-animation: fadeout 2s forwards; /* Internet Explorer */
    -o-animation: fadeout 2s forwards; /* Opera */
    animation: fadeout 2s forwards;
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  /* Firefox */
  @-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  
  /* Safari and Chrome */
  @-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  